    <footer>
<div id="sns" class="container" data-aos="fade-up">
<div class="row">
    <div class="col span-4">
        <h4>Nano Template</h4>
        <p>ここにサービス内容やテキストなどが入ります。</p>
    </div>
    <div class="col span-4">
        <h4>ライン</h4>
        <p>ここにSNSやテキストなどが入ります。SNSやテキストなどが入ります。</p>
    </div>
    <div class="col span-4">
        <h4>インスタグラム</h4>
        <p>ここにSNSやテキストなどが入ります。SNSやテキストなどが入ります。</p>
    </div>
        </div>
</div>
    </footer>
    <div class="copyright"><!-- コピーライト削除不可 削除ご希望のかたは有償にてお申込みください -->
    <a href="https://popo-design.net" target="_blank"><small>Copyright © popodesign.</small></a>
        </div>
        <a id="pagetop" href="#"></a>

  <script>
    AOS.init({
offset: 100,
delay: 200,
duration: 500,
easing: 'ease-out',
once:true
});
    </script>