<header>    
<div class="container">
<div class="row">
    <div class="col span-12 header">
        <div class="sitetitle"><a href="{{ site.baseurl }}/">食卓と趣味のあいだ</a></div>
        </div>
    </div>
<div class="row">
    <div class="col span-12">
        <nav>
          <div id="open"></div>
          <div id="close"></div>   
            <div id="navi">
        <ul>
            <li><a href="{{ site.baseurl }}/">ホーム</a></li>
            <li><a href="{{ site.baseurl }}/#1">おいしいよ</a></li>
            <li><a href="{{ site.baseurl }}/#2">お知らせ</a></li>
            <li><a href="{{ site.baseurl }}/subpage.html">サブページ</a></li>
            <li><a href="#sns">お問い合わせ</a></li>
         </ul>
             </div>
        </nav>
    
        </div>
    </div>
    </div>
</header>

    {% if page.url == "/" or page.url == "/my-site-test/" %}
    <!-- トップページ用処理 -->
    <div id="mainimg"><!-- 画像はjs/sytle.js内 -->
        <h1 data-aos="fade-in">{{ page.mainimg_title | default:ご飯と楽しみ }}</h1>
    </div>
    {% else %}
    <!-- その他ページ -->
    <div class="subimg">
        <h1>{{ page.mainimg_title | default:サブページ }}</h1>
    </div>
    <div class="breadcrumb">
        <ul>
            <li><a href="{{ site.baseurl }}/">ホーム</a> > {{ page.title}}</li>
        </ul>
    </div>
    {% endif %}
