<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>私のサイト</title>
    <!-- <link rel="canonical" href="https://popo-design.net/template/"> -->
<meta name="keywords" content="">
<meta name="description" content="">
<meta property="og:title" content="" />
<meta property="og:type" content="website" /> 
<meta property="og:url" content="" />
<meta property="og:image" content="" />
<link rel="canonical" href="https://popo-design.net/template-pro/">
<!-- CSSを読み込む -->
<link rel="stylesheet" media="all" href="{{ site.baseurl }}/css/sanitize.css" /><!-- リセットCSS -->
<link rel="stylesheet" media="all" href="{{ site.baseurl }}/css/vegas.min.css" />
<link rel="stylesheet"  href="{{ site.baseurl }}/css/aos.css" />
<link rel="stylesheet" media="all" href="{{ site.baseurl }}/css/style.css" /><!-- 上書きCSS -->
<!-- jsファイルを読み込む -->
<script src="{{ site.baseurl }}/js/jquery-3.6.0.min.js"></script>
<script src="{{ site.baseurl }}/js/vegas.min.js"></script>
<script src="{{ site.baseurl }}/js/aos.js"></script>
<script src="{{ site.baseurl }}/js/style.js"></script>
<!-- 
▼ テンプレどん
https://popo-design.net/template/?utm_source=chatgpt.com
-->
<!-- Favicon -->
<link rel="icon" type="image/png" href="{{ site.baseurl }}/img/favicon.png">
    
</head>